<div class="mx-5">
  <h1>Data</h1>

  <div class="row">
    <table class="table table-hover table-dark col-12"  >
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col" >About</th>
          <th scope="col">Acces URL</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayData | paginate: { itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: total }; let i as index ">
        
          <td class="col-8"> 
            <div>
          
              <i class="fas fa-times" 
                  style="cursor: pointer;"
                  (click)="deleteItem( i, item.title )"></i>

            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username"
               aria-label="Recipient's username" 
               aria-describedby="button-addon2"
               [(ngModel)]="item.title"
               [disabled]='!item.swEdit' >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" 
                        type="button" 
                        id="button-addon2"
                        (click)="changeData(item)"
                        [ngClass]="{'btn btn-outline-success': item.swEdit
                                    ,'btn btn-outline-secondary': !item.swEdit }"> {{ !item.swEdit ? 'Edit':'Save' }}  </button>
              </div>
            </div>
            
          </td>

          <td class="col-3">  
            <span class="badge badge-primary">
              <a href="item._about" target="_blank" style="color: aliceblue !important;">

                {{ item._about }}
              </a>  
            </span>
          
          </td>
          <td class="col-1"> 
            
            <a href="item.accessURL" target="_blank"> 
              <i class="far fa-file-pdf fa-2x"></i>
            </a> 
          </td>
        </tr>
      
      </tbody>
    </table>

    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>


  </div>
</div>





  
<!-- 
<pre>
    {{ arrayData | json }}
</pre> -->
