<div class="mx-5" style="z-index: 9;">
  
  <h1>Data</h1>


  <div class="row">
    <table class="table table-hover table-dark col-12"  >
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col" >About</th>
          <th scope="col">Acces URL</th>
          <th scope="col"></th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of _menu.arrayData | paginate: { itemsPerPage: itemsPerPage, currentPage: actualPage, totalItems: this._menu.arrayData.length }; let i = index ">
        
          <td class="col-8">    
           
            <span>  {{item.title}} </span>
            
          </td>

          <td class="col-3">  
            <span class="badge badge-primary">
              <a href="item._about" target="_blank" style="color: aliceblue !important;">
                {{ item._about }}
              </a>  
            </span>
          
          </td>
          <td class="col-1"> 
            
            <a href="item.accessURL" target="_blank"> 
              <i class="far fa-file-pdf fa-2x"></i>
            </a> 
          </td>
          <td>
            <div>
              <button class="btn btn-warning"
                      (click)="editItem( i ) ">  <i class="far fa-edit"></i> </button>
              <button class="btn btn-danger"
              (click)="deleteItem( i, item )">  <i class="far fa-trash-alt"></i> </button>
            </div>
          </td>
        </tr>
      
      </tbody>
    </table>

    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>


  </div>
</div>

<router-outlet></router-outlet>





<!--   

<pre>
    {{ _menu.arrayData | json }}
</pre> -->
