<div class="mx-3">
  <h1>Data</h1>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" >About</th>
        <th scope="col">Acces URL</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayData" class="">
       
        <td class=""> {{ item.title }} </td>
        <td class="">  <a href="item._about" target="_blank">{{ item._about }}</a>  </td>
        <td class=""> <a href="item.accessURL" target="_blank"> {{ item.accessURL }}</a> </td>
      </tr>
    
    </tbody>
  </table>
</div>





  

<!-- <pre>
    {{ arrayData | json }}
</pre> -->
